/* hero */

.hero {
  position: relative;
  padding-bottom: 15em;
  margin-bottom: 15em;
}

.hero--container {
  display: grid;
  gap: 1rem;
  background-image: url(../assets/hero-bg.png);
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: center center;
}

.hero__body {
  max-width: 25rem;
}

.search-location {
  position: relative;
  background-color: var(--clr-neutral-100);
  border-radius: 100vw;
  padding: 0.375em;
}

.search-location button {
  position: absolute;
  right: 0.375em;
  top: 50%;
  transform: translateY(-50%);
}

.search-input {
  position: relative;
}

.search-input .icon {
  position: absolute;
  top: 50%;
  left: 0.5em;
  transform: translateY(-50%);
}

#location-search {
  border: none;
  outline: none;
  background: transparent;
  padding: 0.5em 2em;
}

.btn--primary {
  border: none;
  cursor: pointer;
  font-weight: 500;
  padding: 0.5em 1em;
  background-color: var(--clr-primary-400);
  color: var(--clr-neutral-100);
  border-radius: 100vw;
}

@media screen and (width>=50em) {
  .hero {
    padding-bottom: 10em;
    margin-bottom: 10em;
  }

  .hero--container {
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    align-items: center;
  }
}

/* features */

.features {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  display: grid;
  gap: 1.5rem;
  padding: 1.5em;
  border-radius: 0.75rem;
}

.feature {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
}

.feature__icon {
  display: grid;
  place-items: center;
  width: 6.25rem;
  aspect-ratio: 1;
  background-color: hsla(0, 0%, 100%, 0.25);
  padding: 0.5em;
  border-radius: 0.5rem;
}

@media screen and (width>=50em) {
  .features {
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    align-items: center;
    padding: 2.5em;
    gap: 2rem;
  }
}
